<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kennelclub">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KennelClub">
        <activity
            android:name=".News_test"
            android:exported="false"
            android:label="@string/title_activity_news_test"
            android:theme="@style/Theme.KennelClub.NoActionBar" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".dressirovka"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".Reg3Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>